<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Payment service</title>
</head>
<body>
    {% with message = get_flashed_messages() %}
    {% if message %}
    <div class="alert alert-primary" role="alert">
        {{message[0]}}
    </div>
    {% endif %}
    {% endwith %}
    <form method="{{ data['data']['method'] }}" action="{{ data['data']['url'] }}">
        {% for key, item in data['data']['data'].items() %}
        <input type="text" name="{{ key }}" value="{{ item }}">
        {% endfor %}
        <input type="submit"/>
        {{ data['data']['method'] }}
    </form>
</body>
</html>