<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Payment service</title>
</head>
<body>
    <form name="Pay" method="post" action="https://pay.piastrix.com/ru/pay" accept-charset="UTF-8">
        <h2>Сonfirm the transition to the payment page</h2>
        <input type="hidden" name="amount" value="{{ data['amount'] }}"/>
        <input type="hidden" name="currency" value="{{ data['currency'] }}"/>
        <input type="hidden" name="shop_id" value="{{ data['shop_id'] }}"/>
        <input type="hidden" name="sign" value="{{ data['sign'] }}"/>
        <input type="hidden" name="shop_order_id" value="{{ data['shop_order_id'] }}"/>
        <input type="hidden" name="description" value="{{ data['description'] }}"/>
        <input type="submit"/>
    </form>
</body>
</html>